{% extends 'base.html' %}
{% block title %}Room{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    </style>
{% endblock %}
{% block content %}
    <h2>Index</h2>
    <div>
        <form method="POST" id="generate-room" action="{{ url_for('room.generate_room') }}">
            <input type="submit" value="Start Video Call">
        </form>
    </div>
{% endblock %}
{% block footer %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/room.js') }}"></script>
{% endblock %}
