{% extends 'base.html' %}
{% block title %}Room{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    </style>
{% endblock %}
{% block content %}
<div id="vm">
    <h2>Video Call</h2>
    <div>
        <span>Room ID: </span> <strong>{{ room_id }}</strong>
    </div>
    <form v-if="!username" method="post" action="{{ url_for('room.index', room_id=room_id) }}">
        <input name="username" type="text">
        <input type="submit" value="Submit">
    </form>
    <video v-if="remoteStream" class="remoteStream" :src-object.prop.camel="remoteStream" autoplay></video>
    <video v-if="localStream" class="localStream" :src-object.prop.camel="localStream" autoplay muted></video>
    <button class="" v-on:click="toggleVoice">
        <span v-if="isVoiceOn">turn off voice</span>
        <span v-else>turn on voice</span>
    </button>
    <button class="" v-on:click="toggleCamera">
        <span v-if="isCameraOn">turn off camera</span>
        <span v-else>turn on camera</span>
    </button>
</div>
{% endblock %}
{% block footer %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='vendors/vue-socket.io/dist/vue-socketio.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendors/store2/dist/store2.min.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/room.js') }}"></script>
{% endblock %}